@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    }

    .navbar-sticky {
        position: sticky !important;
        top: 0 !important;
        z-index: 9999999999 !important;
    }
}
